ion-progress-bar {
    margin: 10px 0;
    height: 20px;
    border-radius: 10px;
  }
  p {
    text-align: center;
    font-weight: bold;
  }







.body{
    --ion-background-color: rgba(53, 53, 53, 1);
  
}

ion-card-header{
    margin: 33px;
    text-align: center;
}


ion-card{
    margin-top: 150px;
}




