<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body"  [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">asignaturas</ion-title>
    </ion-toolbar>
  </ion-header> -->


  <ion-card  class="card"> 
    <img alt="Silhouette of mountains" src="https://www.wallstreetenglish.edu.uy/hubfs/1-Aug-07-2023-02-14-29-2435-PM.png" />
    <ion-card-header>
      <ion-card-title>ingles</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>

    </ion-card-header>
    <ion-button (click) = "iringles()" >Ingresar</ion-button> 
   
  </ion-card>



  <ion-card  class="card"> 
    <img alt="Silhouette of mountains" src="https://www.ucsh.cl/assets/uploads/2023/04/matematicas_34f350c3_1280x850.jpg" />
    <ion-card-header>
      <ion-card-title>Matematicas</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-button (click) = "irmatematicas()" >Ingresar</ion-button> 
   
  </ion-card>


  <ion-card  class="card"> 
    <img alt="Silhouette of mountains" src="https://img.freepik.com/foto-gratis/concepto-fondo-programacion_23-2150170124.jpg?semt=ais_hybrid" />
    <ion-card-header>
      <ion-card-title>App Moviles</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-button (click) = "irapp_movil()" >Ingresar</ion-button> 
  </ion-card>


</ion-content>
