.body{
    --ion-background-color: rgba(53, 53, 53, 1);
}

.img_box{
   display: flex;
   justify-content: center;
   margin-top: 20px 0;
}

img{
    width: 150px;
   height: auto;
}

.body{
    --ion-background-color: rgba(53, 53, 53, 1);
}

.titulo{
    text-align: center;
    color: white;
}

.centrar-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-button {
    margin-top: 20px;
    --background: green;
}

.ejemplo{
    text-align: center;
    color: white;
}
