.body{
    --ion-background-color: rgba(53, 53, 53, 1);
  
}


.box_card{
    margin-top: 150px;
}


ion-card{
    background-color: #263238;
}




ion-img{
    width: 100px;
    height: 80px;

}

.icon{
    position: absolute;
    left: 350px;
    top: 45px;
    color: #92E3A9;
}

ion-icon{
    width: 40px;
    height: 30px;
}




.box{
    position: absolute;
    left: 122px;
    color: #ffff;
  

}
.alumno{
    margin: 0;
    padding: 0;
}

.span{
 margin: 0;
 padding: 0;
}



.box_2{
    color: #ffff;
    text-align: center;
}

.box_3{
    color:#ffff;
    display: inline-flex;
}



.porcentaje{
    margin-left: 120px;
}