.body{
  --ion-background-color: rgba(53, 53, 53, 1);
}


.img_box{
  text-align: center;
  margin-top: 50px;
}

img{
  width: 200px;
  height: 180px;
}


ion-list{
  width: 390px;
  
}

ion-intem,ion-icon,ion-input{
  color: #92E3A9;
}


.btn{
  text-align: center;
}

ion-img{
    width: 100px;
    height: 80px;

}

.icon{
    position: absolute;
    left: 350px;
    top: 45px;
    color: #92E3A9;
}

ion-icon{
    width: 40px;
    height: 30px;
}





.box{
  margin-top: 100px;

}



ion-item{
  margin: 30px;
}


h1{
  color: #Ffff;
  text-align: center;
}