<ion-header [translucent]="true" ion-no-border>
  
</ion-header>

<ion-content class="body">
  <h1>Recupera Contraseña</h1>
  <div class="box">
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="alumno" labelPlacement="stacked" label="Nombre de Usuario" placeholder="">
          <ion-icon slot="start" name="person-circle-outline" aria-hidden="true"></ion-icon>
        </ion-input>
        <ion-button fill="clear" slot="end" aria-label="Show/hide">
          <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="newPassword" labelPlacement="stacked" type="password" label="Nueva Contraseña" placeholder="">
          <ion-icon slot="start" name="lock-closed-outline" aria-hidden="true"></ion-icon>
        </ion-input>
        <ion-button fill="clear" slot="end" aria-label="Show/hide">
          <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <div class="btn">
      <ion-button (click)="recuperarContrasena()" color="success">Cambiar Contraseña</ion-button>
    </div>
  </div>
</ion-content>
  
  
      
  
  
  
  