.body{
  --ion-background-color: rgba(53, 53, 53, 1);
}


ion-list{
  width: 390px;
  
}

ion-intem,ion-icon,ion-input{
  color: #92E3A9;
}


.btn{
  text-align: center;
}

ion-img{
    width: 100px;
    height: 80px;

}

.icon{
    position: absolute;
    left: 350px;
    top: 45px;
    color: #92E3A9;
}

ion-icon{
    width: 40px;
    height: 30px;
}





.box{
  margin-top: 160px;
}



h1{
  color: #Ffff;
  text-align: center;
}