<ion-header [translucent]="true" ion-no-border >
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="alumno" placeholder="Nombre de usuario" label="Nombre Alumno:"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="newPassword" type="password" placeholder="Nueva contraseña:" label="Nueva Contraseña"></ion-input>
    </ion-item>
  </ion-list>

  <div class="btn">
    <ion-button (click)="recuperarContrasena()" color="success">Cambiar Contraseña</ion-button>
  </div>
</ion-content>
