.body{
  --ion-background-color: rgba(53, 53, 53, 1);
}


ion-list{
  width: 390px;
  
}

ion-intem,ion-icon,ion-input{
  color: #92E3A9;
}


.btn{
  text-align: center;
}

.box{
  margin-top: 160px;
}



h1{
  color: #Ffff;
  text-align: center;
}